#about {
  padding: 30px;
  text-align: center;
}

.about-title {
  position: relative;
  top: -40px;
}

#about h2 {
  font-size: 24px;
  color: green;
}

#about p {
  font-size: 18px;
  color: #444;
  max-width: 800px; /* Setzt eine maximale Breite für den Text */
  margin: 0 auto; /* Zentriert den Text */
  text-align: center;
}

/* Container für das Bild */
.about-image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.about-image {
  width: 100%;
  max-width: 650px; /* Max. Breite auf Desktop */
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Für sauberes Zuschneiden */
}
/* Größere Schrift für Desktop-Ansicht */
@media screen and (min-width: 1024px) {
  .about-title {
    top: -50px;
  }

  #about h2 {
    font-size: 35px;
  }

  #about p {
    font-size: 20px;
    max-width: 750px; /
  }
}

/* Responsive Design für Tablets und Mobilgeräte */
@media screen and (min-width: 768px) {
  #about h2 {
    font-size: 35px; /* Vergrößerte Schriftgröße für größere Bildschirme */
  }
  .about-title {
    top: -30px;
  }

  #about p {
    font-size: 22px;
  }
}
