#about {
  padding: 50px;
  text-align: center;
}

#about h2 {
  font-size: 24px;
  color: green;
}

#about p {
  font-size: 18px;
  color: #444;
}

/* Größere Schrift für Desktop-Ansicht */
@media screen and (min-width: 768px) {
  #about h2 {
    font-size: 35px; /* Vergrößerte Schriftgröße für größere Bildschirme */
  }

  #about p {
    font-size: 32px;
  }
}
