.gallery {
  text-align: center;
  padding: 50px 20px;
  min-height: 60vh;
  background-image: url("https://cdn.pixabay.com/photo/2018/06/28/21/07/rose-3504803_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.gallery-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.gallery-box {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bilder - Jetzt mittig ausgerichtet */
.slick-slider {
  max-width: 600px;
  margin: auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  width: 100%;
  max-width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

   display: flex;
  justify-content: center;
  align-items: center;
}

/* Lightbox-Effekt für große Ansicht */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  padding: 20px;
}

/* Bild innerhalb der Lightbox */
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Schließen-Button */
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
}

.lightbox-close:hover {
  color: #ff0000;
}

/* Responsive Optimierung */
@media (max-width: 1024px) {
  .gallery-item {
    max-width: 500px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .gallery-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .gallery-item {
    max-width: 400px;
    height: 300px;
    margin: auto; /* Sorgt dafür, dass Bilder mittig bleiben */
  }
}
@media (max-width: 670px) {
  .gallery-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .gallery-item {
    max-width: 300px;
    height: 200px;
    margin: auto; /* Sorgt dafür, dass Bilder mittig bleiben */
  }
}
