/* Galerie Styling */
.gallery {
  text-align: center;
  padding: 50px 20px;
  background-color: #fffbfb; /* Hellgrauer Hintergrund */
  width: 100%;
  margin: 0 auto;
}
/* Titel Styling */
.gallery-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}
/* Für die Bilder in der Galerie */
.gallery .image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 350px; /* Einheitliche Größe ohne Verzerrung */
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
}



/* Responsive Anpassungen */
@media (max-width: 1024px) {
  .gallery .react-image-gallery {
    max-height: 350px;
  }
  /* Bilderhöhe für Tablets */
  .gallery .image-gallery-slide img {
    height: 180px; /* Etwas kleinere Höhe für Tablets */
  }
}
/* Mobile-Ansicht: 1 Bild pro Zeile */
@media (max-width: 768px) {
   .gallery .image-gallery-slide img {
    max-height: 300px;
  }
  /* Bilderhöhe für Mobile */
  .gallery .image-gallery-slide img {
    max-height: 250px;
  }
}