.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.575); /* Dunkle Overlay-Schicht */
  z-index: 1;
}
.header {
  width: 100%;
  height: 70vh;
  background-image: url("https://cdn.pixabay.com/photo/2019/09/04/01/24/trees-4450514_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important; /* 100% der Viewport-Breite */
  height: 100vh; /* 100% der Viewport-Höhe */
  object-fit: cover;
  z-index: -1;
}
.overlay {
  position: absolute;
  color: white;
  background-color:transparent; /* Halbtransparentes Overlay */
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px;
  z-index: 2;
}
.overlay-text {
  border-top: 1px solid #eee;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-style: italic ;
  padding: 5px;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic ;
  
}
p {
  font-size: 1rem;
  text-align: center;
  
  padding: 5px;
}
.whatsapp-button {
display: inline-block;
padding: 10px 10px;
color: white;
font-weight: bold;
border-radius: 10px;
text-decoration: none;
transition: background-color 0.3s ease;
width: auto; /* Passt sich dem Inhalt an */
max-width: 50px; /* Setzt eine maximale Breite */
text-align: center;
justify-content: center;

}
.phone-icon {
  margin-right: 5px;
  cursor: pointer;
}
.phone-icon:hover {
  color: green;
}

.whatsapp-button:hover {
  color:  #1ebe5d;
}
/* Größerer Header nur für Desktop */
@media screen and (min-width: 1024px) {
  .header {
    height: 120vh; /* Erhöhte Höhe für große Bildschirme */
  }

  .overlay {
    padding: 40px; /* Größeres Padding für bessere Lesbarkeit */
  }
  .whatsapp-button {
    font-size: 1.2rem;
    padding: 12px 20px;
    max-width: 60px;
  }

  h1 {
    font-size: 4rem; /* Größere Schrift */
  }

  p {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .header {
    object-fit: cover;
  }
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
   .whatsapp-button {
    font-size: 1rem;
    padding: 10px 18px;
    max-width: 55px;
    text-align: center;
  }

  .overlay {
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .whatsapp-button {
    font-size: 0.9rem;
    padding: 8px 16px;
    max-width: 50px;
  }
}