.header {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/garten-j-landolt.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important; /* 100% der Viewport-Breite */
  height: 100vh; /* 100% der Viewport-Höhe */
  object-fit: cover;
  z-index: -1;
}



.overlay {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.753); /* Halbtransparentes Overlay */
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px;
}
.overlay-text {
  
  border-top: 1px solid #eee;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-style: italic ;
  margin: 0;
}

p {
  font-size: 1rem;
}
/* Größerer Header nur für Desktop */
@media screen and (min-width: 1024px) {
  .header {
    height: 120vh; /* Erhöhte Höhe für große Bildschirme */
  }

  .overlay {
    padding: 40px; /* Größeres Padding für bessere Lesbarkeit */
  }

  h1 {
    font-size: 4rem; /* Größere Schrift */
  }

  p {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .overlay {
    padding: 15px;
  }
}
