.header {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/27/14/34/garden-2179095_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important; /* 100% der Viewport-Breite */
  height: 100vh; /* 100% der Viewport-Höhe */
  object-fit: cover;
  z-index: -1;
}



.overlay {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Halbtransparentes Overlay */
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .overlay {
    padding: 15px;
  }
}
